.about {
    width: 100%;
    height: 100vh;
    text-align: center;
    .p_title {
        font-size: 36px;
        margin-top: 20px;
    }
    h1 {
        font-size: 180px;
        font-family: $main_font;
        font-weight: bold;
        // 斷點

        @media screen and (max-width: 1800px) {
            /*  要做的事情  */
            color: red;
        }
        @media screen and (max-width: 1700px) {
            /*  要做的事情  */
            color: green;
        }
    }
    .p_content {
        font-size: 26px;
        margin: 20px 0 50px 0;
    }
    a {
        text-decoration: none;
        padding: 5px 60px;
        border: 1px solid #000;
        color: #000;
        transition: 0.5s;
        &:hover {
            background: #000;
            color: #fff;
        }
    }
}
