@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mochiy+Pop+P+One&display=swap");
nav {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 5px 5px #ccc;
          box-shadow: 0 5px 5px #ccc;
}

nav .logo a {
  text-decoration: none;
  font-size: 30px;
  font-family: "Mochiy Pop P One", sans-serif;
  color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav .logo a:hover {
  -webkit-filter: invert(90%) sepia(2%) saturate(3172%) hue-rotate(71deg) brightness(93%) contrast(120%);
          filter: invert(90%) sepia(2%) saturate(3172%) hue-rotate(71deg) brightness(93%) contrast(120%);
}

nav .nav_title {
  font-size: 24px;
}

nav .abut_icon a img {
  width: 30px;
  height: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav .abut_icon a img:hover {
  -webkit-filter: invert(90%) sepia(2%) saturate(3172%) hue-rotate(71deg) brightness(93%) contrast(120%);
          filter: invert(90%) sepia(2%) saturate(3172%) hue-rotate(71deg) brightness(93%) contrast(120%);
}

.slick {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slick .slick_box {
  width: 100%;
  text-align: center;
}

.slick .slick_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}

.about {
  width: 100%;
  height: 100vh;
  text-align: center;
}

.about .p_title {
  font-size: 36px;
  margin-top: 20px;
}

.about h1 {
  font-size: 180px;
  font-family: "Mochiy Pop P One", sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 1800px) {
  .about h1 {
    /*  要做的事情  */
    color: red;
  }
}

@media screen and (max-width: 1700px) {
  .about h1 {
    /*  要做的事情  */
    color: green;
  }
}

.about .p_content {
  font-size: 26px;
  margin: 20px 0 50px 0;
}

.about a {
  text-decoration: none;
  padding: 5px 60px;
  border: 1px solid #000;
  color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about a:hover {
  background: #000;
  color: #fff;
}

section {
  width: 100%;
  height: 100%;
  background: #eee;
  padding-bottom: 60px;
}

section p {
  text-align: center;
  font-size: 40px;
}

section .portfolio {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

section .portfolio .portfolio_box {
  width: 30%;
  margin-top: 30px;
}

section .portfolio .portfolio_box a {
  text-decoration: none;
}

section .portfolio .portfolio_box a img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

section .portfolio .portfolio_box a .portfolio_data span {
  color: #000;
  font-size: 20px;
}

section .portfolio .portfolio_box a .portfolio_data .data_title {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px 10px;
}

section .portfolio .portfolio_box a .portfolio_data .data_main {
  margin-left: 30px;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 標楷體;
}

footer {
  color: #fff;
  background: #000;
  text-align: center;
  padding: 40px 0;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer .ft_img {
  margin-top: 10px;
}

footer .ft_img a {
  margin: 0 10px;
}

footer .ft_img a img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 40px;
  height: 40px;
}

footer .ft_nav {
  margin: 10px 0;
}

footer .ft_nav a {
  margin: 0 10px;
}

.gotop {
  position: fixed;
  right: 0;
  bottom: 50px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */